<%- include("head"); -%>
<div class="blogform" >
    <h1 class="blogheading">Publish your passions your way</h1>
    <h3 class="blogheading2">Create a unique and beautiful blog ,it's easy and free !!<br>Compose your blog</h3>

<a href="/signup" > <button type="submit"  class="btn btn-outline-dark" name="blogbtn">Sign Up</button></a>
</div>
<div class="footer-copyright text-center py-3 myfooter">
  © 2020 Copyright:
</div>
<%- include("foot"); -%>
