<%- include("head"); -%>
<form id="loginform" method="POST" action="/signup">
 <input  required class="loginforminput" type="text" placeholder="Username" name="username" />
 <input  required class="loginforminput" type="password" placeholder="Password" name="password" />
 <button class="loginformbutton" id="loginformbutton" type="submit">Sign-up</button>
</form>
  <a  href="/login" ><button type="submit"  class="btn btn-outline-dark  mybutton" name="blogbtn" >Already have an account ?</button></a>
<%- include("foot"); -%>
